{% extends 'base.html.twig' %}

{% block title 'Alerte' %}

{% block slider '' %}

{% block body %}
    <div id="all">
        <!-- Top bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 d-md-block d-none">
                        <p>Contacts&nbsp;<a class="text-white" href="tel:#">+221778213119</a> ou <a class="text-white" href="mailto:#">contact.fret-Online@gmail.com</a>.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-md-end justify-content-between">
                            <ul class="list-inline contact-info d-block d-md-none">
                                <li class="list-inline-item"><a href="tel:#"><i class="fa fa-phone"></i></a></li>
                                <li class="list-inline-item"><a href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                            <div class="login">
                                {% if app.user == false %}
                                    <a href="{{ path('login') }}" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Se connecter</span></a>
                                {% endif %}
                                {% if app.user == false %}
                                    <a href="{{ path('create_compte') }}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Créer un compte</span></a>
                                {% endif %}
                                {% if app.user  %}
                                    <a href="{{ path('user_espace') }}" class="login-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Mon espace</span></a>
                                {% endif %}
                                {% if app.user %}
                                    <a href="{{ path('logout') }}" class="login-btn"><i class="fa fa-sign-out-alt"></i><span class="d-none d-md-inline-block">Se deconnecter</span></a>
                                {% endif %}
                            </div>
                            <ul class="social-custom list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar end-->
        <!-- Navbar Start-->
        <header class="nav-holder make-sticky">
            <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
                <div class="container"><a href="{{ path('home') }}" class="navbar-brand home">
                        <h2 class="d-none d-md-inline-block"><br>Frêt Online</h2>
                    </a>
                    <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                    <div id="navigation" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item nav_link nav_link_active">
                                <a class="nav-link active lnk" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('fret.direct') }}">Fret en direct</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('alert.fret') }}">Alert fret</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('faq') }}">Comment ça marche ?</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('contact') }}">Contact</a>
                            </li>
                            <!-- ========== Contact dropdown end ==================-->
                        </ul>
                    </div>
                    <div id="search" class="collapse clearfix">
                        <form role="search" class="navbar-form">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar End-->
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="font-weight-bold text-primary"><i class="fa fa-angle-right">&nbsp; Validtion Alerte</i></h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                            <li class="breadcrumb-item active"> Alerte</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 40px; margin-bottom: 80px;">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        <strong>{{ message }}</strong>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="container mt-3">
            <div class="heading">
                <h5>Confirmation alerte</h5>
            </div>
            <div class="card border-primary col-md-10 offset-md-1 mb-5">
                <h6 class="mt-3 font-weight-bold text-uppercase">Description alerte: </h6>
                <div class="row">
                    <div class="col-md-6 font-weight-bold">
                        <p>Type de vehicule : {{ search.get('alerte').typeVehicule.libelle }}</p>
                    </div>
                    <div class="col-md-6 font-weight-bold">
                        <p>Nombre de vehicule : {{ search.get('alerte').nbreVehicule }}</p>
                    </div>
                </div>
                {% if  search.get('alerte').debutAt != null and search.get('alerte').debutAt !=  search.get('alerte').finishAt %}
                    <div class="row">
                        <div class="col-md-6 font-weight-bold">
                            <p>Date de debut : {{ search.get('alerte').debutAt.format('d/m/y') }}</p>
                        </div>
                        <div class="col-md-6 font-weight-bold">
                            <p>Date de fin : {{ search.get('alerte').finishAt.format('d/m/y') }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if  search.get('alerte').villeSepart != null %}
                    <div class="row">
                        <div class="col-md-6 font-weight-bold">
                            <p>Ville de Depart : {{ search.get('alerte').villeSepart}}</p>
                        </div>
                        <div class="col-md-6 font-weight-bold">
                            <p>Ville d'arrivé : {{ search.get('alerte').villeArrive }}</p>
                        </div>
                    </div>
                {% endif %}
                <form action="{{ path('send.alerte',{id:entreprise.id}) }}" method="post">
                <div class="row">
                    {% if search.get('alerte').descriptionProduits == null %}
                        <div class="col-md-6">
                            <label for="desc" class="font-weight-bold">Description produits</label>
                            <textarea name="description" class="form-control" id="desc"></textarea>
                        </div>
                    {% endif %}
                    {% if search.get('alerte').descriptionProduits != null %}
                        <div class="col-md-6">
                            <p class="font-weight-bold">Description produits : {{ search.get('alerte').descriptionProduits }}</p>
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <p class="font-weight-bold">Entreprise : {{ entreprise.nom }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="offset-md-6 col-md-6">
                        <button name="btn_alerte" class="pull-right btn btn-primary" type="submit">Valider</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

