{% extends 'base.html.twig' %}

{% block title 'Alerte' %}

{% block slider '' %}

{% block body %}
    <div id="all">
        <!-- Top bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 d-md-block d-none">
                        <p>Contacts&nbsp;<a class="text-white" href="tel:#">+221778213119</a> ou <a class="text-white" href="mailto:#">contact.fret-Online@gmail.com</a>.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-md-end justify-content-between">
                            <ul class="list-inline contact-info d-block d-md-none">
                                <li class="list-inline-item"><a href="tel:#"><i class="fa fa-phone"></i></a></li>
                                <li class="list-inline-item"><a href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                            <div class="login">
                                {% if app.user == false %}
                                    <a href="{{ path('login') }}" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Se connecter</span></a>
                                {% endif %}
                                {% if app.user == false %}
                                    <a href="{{ path('create_compte') }}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Créer un compte</span></a>
                                {% endif %}
                                {% if app.user  %}
                                    <a href="{{ path('user_espace') }}" class="login-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Mon espace</span></a>
                                {% endif %}
                                {% if app.user %}
                                    <a href="{{ path('logout') }}" class="login-btn"><i class="fa fa-sign-out-alt"></i><span class="d-none d-md-inline-block">Se deconnecter</span></a>
                                {% endif %}
                            </div>
                            <ul class="social-custom list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar end-->
        <!-- Navbar Start-->
        <header class="nav-holder make-sticky">
            <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
                <div class="container"><a href="{{ path('home') }}" class="navbar-brand home">
                        <h2 class="d-none d-md-inline-block"><br>Frêt Online</h2>
                    </a>
                    <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                    <div id="navigation" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item nav_link nav_link_active">
                                <a class="nav-link active lnk" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('fret.direct') }}">Fret en direct</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('alert.fret') }}">Alert fret</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('faq') }}">Comment ça marche ?</a>
                            </li>
                            <li class="nav-item nav_link">
                                <a class="nav-link lnk" href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div id="search" class="collapse clearfix">
                        <form role="search" class="navbar-form">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar End-->
        <<div id="heading-breadcrumbs" style="background-image: url('/build/img/15.jpg')">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap">
                    <div class="col-md-7">
                        <h1 class="font-weight-bold text-primary"><i class="fa fa-angle-right">&nbsp;Alert frêt</i></h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb d-flex justify-content-end">
                            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                            <li class="breadcrumb-item active">Alert frêt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 40px; margin-bottom: 80px;">
            <div class="heading"><h3>Alerte</h3></div>
            <div class="card border-primary col-md-8 offset-md-2 mt-3">
                {% for u in users %}
                    {% if u.id == alerte.fromId %}
                        <h3 class="mt-3 ml-2">Envoyé par : <span class="font-weight-bold">{{ u.nom }} {{ u.prenom }}</span></h3>
                    {% endif %}
                {% endfor %}
                <p class="font-weight-bold ml-3"><i class="fa fa-search"></i>&nbsp;Demande : {{ alerte.nbreVehicule }} vehicule(s)</p>
                {% for t in type %}
                    {% if t.id == alerte.typeVehicule %}
                        <p class="font-weight-bold ml-3"><i class="fa fa-truck"></i>&nbsp;Type de Vehicule : {{ t.libelle }} </p>
                    {% endif %}
                {% endfor %}
                {% if alerte.debutAt != alerte.finishAt %}
                    <p class="font-weight-bold ml-3"><i class="fa fa-clock-o"></i>&nbsp;A partir de  : {{ alerte.debutAt.format('d/m/y') }} au {{ alerte.finishAt.format('d/m/y') }}</p>
                {% endif %}
                {% if alerte.villeArrive != null and alerte.villeDepart != null %}
                    <p class="font-weight-bold ml-3"><i class="fa fa-fighter-jet"></i>&nbsp;De  : {{ alerte.villeDepart }} à {{ alerte.villeArrive }}</p>
                {% endif %}
                {% if alerte.contenuAlerte != null %}
                    <p class="font-weight-bold ml-3"><i class="fa fa-suitcase"></i>&nbsp;{{ alerte.contenuAlerte }}</p>
                {% endif %}
                {% for u in users %}
                    {% if u.id == alerte.fromId %}
                        <h5 class=" mb-5 ml-2">Contact : <span class="font-weight-bold">Tél : {{ u.telephone }}  Email : {{ u.email }}</span></h5>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}