{% extends 'base.html.twig' %}

{% block title 'Espace' %}

{% block slider '' %}

{% block body %}
<div id="all">
    <!-- Top bar-->
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-md-block d-none">
                    <p>Contacts&nbsp;<a class="text-white" href="tel:#">+221778213119</a> ou <a class="text-white" href="mailto:#">contact.fret-Online@gmail.com</a>.</p>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-md-end justify-content-between">
                        <ul class="list-inline contact-info d-block d-md-none">
                            <li class="list-inline-item"><a href="tel:#"><i class="fa fa-phone"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="login">
                            {% if app.user == false %}
                                <a href="{{ path('login') }}" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Se connecter</span></a>
                            {% endif %}
                            {% if app.user == false %}
                                <a href="{{ path('create_compte') }}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Créer un compte</span></a>
                            {% endif %}
                            {% if app.user  %}
                                <a href="{{ path('user_espace') }}" class="login-btn">Mon Espace &nbsp;<i class="fa fa-user-o"></i></a>
                            {% endif %}
                            {% if app.user  %}
                                <a href="{{ path('logout') }}" class="login-btn">Déconnection&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
                            {% endif %}
                        </div>
                        <ul class="social-custom list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar end-->
    <!-- Navbar Start-->
    <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
            <div class="container"><a href="{{ path('home') }}" class="navbar-brand home">
                    <h2 class="d-none d-md-inline-block"><br>Frêt Online</h2>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item nav_link nav_link_active">
                            <a class="nav-link active lnk" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('fret.direct') }}">Fret en direct</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('alert.fret') }}">Alert fret</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('faq') }}">Comment ça marche ?</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div id="search" class="collapse clearfix">
                    <form role="search" class="navbar-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar End-->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="font-weight-bold text-primary"><i class="fa fa-angle-right">&nbsp; Création Entreprise</i></h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Création entreprise</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="heading"><h2>Informations entreprise</h2></div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="offset-md-3 col-md-6 text-center">
                    <p class="alert alert-success">{{ message }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="card offset-md-1 col-md-10 mt-3" style="margin-bottom: 40px;">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Nom</label>
                    <div>{{ form_errors(form.nom) }}</div>
                    <div>{{ form_widget(form.nom) }}</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Ninea</label>
                    <div>{{ form_errors(form.ninea) }}</div>
                    <div>{{ form_widget(form.ninea) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Ville</label>
                    <div>{{ form_errors(form.ville) }}</div>
                    <div>{{ form_widget(form.ville) }}</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Adresse</label>
                    <div>{{ form_errors(form.adresse) }}</div>
                    <div>{{ form_widget(form.adresse) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Telephone</label>
                    {% if sub_error['tel'] != "" %}
                        <div class="small text-danger">
                            <span class="bg-danger text-white font-weight-bold" style=";border-radius: 5px;">
                            ERREUR</span> Cet numero est incorrect ou existe dejà.
                        </div>
                    {% endif %}
                    <div>{{ form_widget(form.tel) }}</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Logo</label>
                    {% if sub_error['logo'] != "" %}
                        <div class="small text-danger">
                            <span class="bg-danger text-white font-weight-bold" style=";border-radius: 5px;">
                            ERREUR</span> Cet format n'est pris en charge
                        </div>
                    {% endif %}
                    <div>{{ form_widget(form.imageLogo) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">Compagnie Assurance</label>
                    <div>{{ form_errors(form.compagnieAssurance) }}</div>
                    <div>{{ form_widget(form.compagnieAssurance) }}</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Zones Interventions</label>
                    <select name="zone[]" id="" aria-multiselectable="true" class="form-control select2" multiple="multiple">
                        {% for zone in zones %}
                            <option value="{{ zone.id}}">{{ zone.nomZone }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                {{ form_rest(form) }}
                <div class="offset-md-4 col-md-4">
                    <button type="submit" class="btn btn-primary btn-labeled pull-right">Valider&nbsp;<span
                                class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
                    <a class="text-decoration-none" href="{{ path('user_espace') }}">
                        <button type="button"  class="btn btn-primary btn-labeled pull-left">
                            Ignorer&nbsp;<span
                                    class="btn-label btn-label-right"><i class="fa fa-close"></i></span></button></a>
                </div>
            </div>
            <p class="small text-danger mt-4"  style="margin-bottom: 50px;"><i class="fa fa-hand-o-right"></i>  Si vous travaillez pour votre propre compte vous pouvez ignorer.</p>
            {{ form_end(form) }}
        </div>
    </div>
</div>
    {% endblock %}

