{% extends 'base.html.twig' %}

{% block title 'Utilisateur' %}

{% block slider '' %}

{% block body %}
    <div id="all">
    <!-- Top bar-->
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-md-block d-none">
                    <p>Contacts&nbsp;<a class="text-white" href="tel:#">+221778213119</a> ou <a class="text-white" href="mailto:#">contact.fret-Online@gmail.com</a>.</p>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-md-end justify-content-between">
                        <ul class="list-inline contact-info d-block d-md-none">
                            <li class="list-inline-item"><a href="tel:#"><i class="fa fa-phone"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <div class="login">
                            {% if app.user == false %}
                                <a href="{{ path('login') }}" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Se connecter</span></a>
                            {% endif %}
                            {% if app.user == false %}
                                <a href="{{ path('create_compte') }}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Créer un compte</span></a>
                            {% endif %}
                            {% if app.user  %}
                                <a href="{{ path('user_espace') }}" class="login-btn">Mon Espace &nbsp;<i class="fa fa-user-o"></i></a>
                            {% endif %}
                            {% if app.user  %}
                                <a href="{{ path('logout') }}" class="login-btn">Déconnection&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
                            {% endif %}
                        </div>
                        <ul class="social-custom list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar end-->
    <!-- Navbar Start-->
    <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
            <div class="container"><a href="{{ path('home') }}" class="navbar-brand home">
                    <h2 class="d-none d-md-inline-block"><br>Frêt Online</h2>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item nav_link nav_link_active">
                            <a class="nav-link active lnk" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('fret.direct') }}">Fret en direct</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('alert.fret') }}">Alert fret</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('faq') }}">Comment ça marche ?</a>
                        </li>
                        <li class="nav-item nav_link">
                            <a class="nav-link lnk" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div id="search" class="collapse clearfix">
                    <form role="search" class="navbar-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar End-->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="font-weight-bold text-primary"><i class="fa fa-angle-right">&nbsp; Espace </i></h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">espace</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="card col-md-3">
                <div class="card-body">
                    <div class="media">
                        {% if user.file != null %}
                            <img class="card-img profile-image" width="300px" height="200px;" src="{{ vich_uploader_asset(user, 'imageProfil') }}" alt="">
                        {% endif %}
                        {% if user.file == null %}
                            <img class="card-img profile-image" width="300px" height="200px;" src="/build/img/default_user.png" alt="">
                        {% endif %}
                    </div>
                    <div class="card-text">
                        <hr>
                        <p>
                            <strong>
                                <span class="small font-weight-bold text-uppercase">{{ user.nom }}</span>
                                {% if user.typeAbonne == 1 %}
                                    Affreteur/courtier
                                {% endif %}
                                {% if user.typeAbonne == 2 %}
                                    Transporteur
                                    {% if  user.idEntreprise != null %}
                                        chez {{ user.idEntreprise.nom }}
                                    {% endif %}
                                {% endif %}
                            </strong>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                     <span>
                        <h3 class="card-title pull-left text-primary"><small>{{ user.email }}</small> <i
                                    class="fa fa-check text-primary" aria-hidden="true" data-toggle="tooltip"
                                    data-placement="bottom" title="Vous êtes connecté"></i></h3>
                    </span>
                        <br><br>
                        <hr>
                        <span class="pull-left">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab"
                                       aria-controls="info" aria-selected="true"><i
                                                class="fa fa-user"></i> Informations</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="card tab-content profile-tab mt-5" id="myTabContent">
                    <div class="tab-pane fade show active mt-2 mb-2 ml-2 mr-2" id="info" role="tabpanel"
                         aria-labelledby="info-tab">
                        <div class="card float-left mt-1 mb-1 col-md-6">
                            <div class="card-body">
                                <h3 class="font-weight-bold">Informations</h3>
                                <div class="row mt-3" style="width: 100%;">
                                    <p class="small"><i class="fa fa-pencil-square"></i>&nbsp;Nom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ user.nom }}</p>
                                </div>
                                <div class="row mt-3" style="width: 100%;">
                                    <p class="small"><i class="fa fa-pencil-square"></i>&nbsp;Prenom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ user.prenom }}</p>
                                </div>
                                <div class="row mt-3" style="width: 100%;">
                                    <p class="small"><i class="fa fa-mail-reply-all"></i>&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ user.email }}</p>
                                </div>
                                <div class="row mt-3" style="width: 100%;">
                                    <p class="small"><i class="fa fa-phone"></i>&nbsp;Tel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ user.telephone }}</p>
                                </div>
                                <div class="row mt-3" style="width: 100%;">
                                    <p class="small"><i class="fa fa-briefcase"></i>&nbsp;Profession&nbsp;&nbsp;&nbsp;&nbsp;:
                                        {% if user.typeAbonne == 1 %}
                                            Affreteur/Courtier
                                        {% endif %}
                                        {% if user.typeAbonne == 2 %}
                                            Transporteur/Affreteur
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="row">
                                    <p><i class="fa fa-clock-o"></i>&nbsp;Créé le&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ user.createdAt.format('d/m/y h:m:s') }}</p>
                                </div>
                            </div>
                        </div>
                        {% if user.idEntreprise != null %}
                            <div class="card float-right mt-1 mb-1 col-md-6">
                                <div class="card-body">
                                    <h3 class="font-weight-bold">Entreprise</h3>
                                    <div class="row mt-3">

                                        <p class="small"><i class="fa fa-pencil-square"></i>&nbsp;Nom : {{ user.idEntreprise.nom }}</p>
                                    </div>
                                    <div class="row mt-3">
                                        <p class="small"><i class="fa fa-users"></i>&nbsp;Nbre user : {{ user.idEntreprise.nbreAbonne }}</p>
                                    </div>
                                    <div class="row mt-3">
                                        <p class="small"><i class="fa fa-address-book-o"></i>&nbsp;Adresse : {{ user.idEntreprise.adresse }}</p>
                                    </div>
                                    <div class="row mt-3">
                                        <p class="small"><i class="fa fa-phone"></i>&nbsp;Tel : {{ user.idEntreprise.tel }}</p>
                                    </div>
                                    <div class="row mt-3 text-center">
                                        <p class="small text-center" ><a class="text-decoration-none text-center" href="{{ path('entreprise.show',{id:user.idEntreprise.id}) }}">Voir entreprise</a></p>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}